body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:wheat;
}
.main-div{
  border: 1px solid black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;

}
.css-button-div{
  display: grid;
  grid-template-columns: 30px 30px 30px 30px;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 3px;
  margin-top: 5px;
}
.clearbutton{
  width: 33px;
  height: 40px;
  margin-top: 5px;
  margin-left: 64px;
  border-radius: 16px;
  border: 1px solid gray;
  background-color: bisque;
}
.input{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 150px;
  margin-right: 5px;
}
.btn{
  height: 40px;
  width: 33px;
  margin-right: 10px;
  border-radius: 16px;
  border: 1px solid gray;
  color:black;
  background-color: bisque;
}